export(
"censored.fit.w",
"fdrtool.w",	
"fndr.cutoff.w",
"pval.estimate.eta0.w"
)

import("graphics")
import("grDevices")
import("stats")
importFrom("Hmisc","wtd.quantile")
importFrom("fdrtool","grenander","dcor0","pcor0","rcor0","qcor0")
importFrom("weights","wtd.hist")
